
/*
	Pagina de las contrasenas

	JX5... 
*/ 

/*-----div de entrada----*/
.msg{
	background: #fff;
	padding: 30px;
	margin: 20px;
	border-radius: 20px;
}

.h2{
	background: #981c1c;
	transition: all 2s;
	animation: h2 2s;
	width: 400px;
	display: inline-block;
	padding: 15px;
	color: #fff;
	border-radius: 20px;
}

@keyframes h2{ 
	0%{
		  position: relative;
		  right: 400px;
		  transform: rotate(-20deg);
	  }
	
	10%{
		 right: 300px;
		 top: -20px;
	}
	
	30%{
		right: 200px;
		top: 0px;
	}

	60%{
		right: 50px;
		top: -20px;
	}
	
	100%{
			position: relative;
			top: 0;
			right: 0;
			transform: rotate(0deg);
	}
}

/*----Imagen del buscador-----*/
#contBusqueda{
	padding: 5px;
	margin: 10px -0px 10px 10px;
	border-radius: 20px 0px 0px 20px;
	text-align: center;
	font-family: arial;
	position: relative;
	top: 8px;
	border: 2px solid #bdbdbd;
	transition: all 2s;
}

#buscar{
	background: #5c2525;
	color: #fff;
	padding: 6px 20px;
	border-radius: 0px 20px 20px 0px;
	border: none;
	position: relative;
	top: 8px;
	transition: all 0.5s;
}

#buscar:active{
	background: red;
}

#ache3{
	position: relative;
	top: 0;
	left: 100px;
	font-size: 13px;
	width: 200px;
	display: none;
	color: #494444d4;
}

#ache3 div{
	background: #231d1d3b;
	padding: 12px;
	margin: auto;
	font-style: oblique;
	border-radius: 0px 25px 25px 25px;
	display: inline-block;
	transition: all 0.5s;
}

@keyframes ache3 {
	0%{opacity: 0; }
	100%{opacity: 2;}
}

/*------Si no hay contras....------*/
.contras .no_hay_contras{
	background: none;
	padding: 100px;
	margin: 10px 300px;
	border-radius: 20px;
	border: 2px solid #034c6c;
	transition: all 0.5s;
	animation: contras_no_hay_contras 2s;
}

@keyframes contras_no_hay_contras{
	0%{opacity: 0;}
	100%{opacity: 2;}
}

.contras .no_hay_contras:hover{
	background: #534747e3;
	padding: 120px;
	margin: 10px 250px;
	border: 5px solid rgb(2, 237, 255);
}

.contras .no_hay_contras div img{
	margin: 10px;
	border-radius: 20px;
	box-shadow: 3px 2px 3px 2px #a3a2a2;
	transition: all 0.5s;
}

.contras .no_hay_contras div h2{
	margin: 10px;
}

.contras div .AgG_ConTras{
	color: #fff;
	margin: 0px; 
	display: block;
}

/*-----Contenedores de las contras-----*/
.some-cont{ 
	margin: 20px;
	background: #fff;
	width: 600px;
	display: inline-block;
	padding: 15px;
	border: 5px solid #034c6c;
	border-radius: 20px;
	transition: all 0.3s;
	animation: contras_no_hay_contras 2s;
}

.some-cont:hover{
	background: #534747e3;
}

.some-cont .name-contra{
	font-weight: bold;
	margin: 20px;
	font-size: 40px;
	display: block;
	color: #000;
}

#C0nt{
	background: none;
    border: none;
    text-align: center;
    width: 90%;
    padding: 10px;
}

/*-----Estilos al formulario para agg contras-----*/
.tittleAgg{
    color: #034c6c;
    display: block;
    padding: 5px;
    border-bottom: 2px solid #000000b5;
}

.tipos-contras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.iconAgg{
    font-size: 70px;
    margin: 3px;
    width: 25%;
    padding: 7px;
    background: none;
    border-radius: 10px; 
    transition: all 0.5s;
    cursor: pointer;
}

.iconAgg:hover{
    background: #981c1c;
    color: #fff;
}

/*--------formulario de datos agg--------*/
.formAgg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgAgg{
    font-size: 100px;
    transition: all 1s;
    animation: imgAgg 1s;
}

@keyframes imgAgg{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(0deg);}
}

#NOMBRE_contra, #CONT_contra{
	text-align: center;
	border: none;
	padding: 5px;
	margin: 5px;
	width: 300px;
	background: #726767;
	border-radius: 20px;
	transition: all 0.3s;
    color: #fff;
}

#NOMBRE_contra{
	font-weight: bold;
	font-size: 40px;
}

.s_agregar{
	background: #000;
	color: #fff;
	padding: 25px;
	width: 200px;
	position: relative;
	left: 8px;
	margin: 10px;
	border: none;
	border-radius: 20px;
	font-size: 18px;
	transition: all 0.1s;
}

.s_agregar:active{
	font-size: 16px;
    width: 180px;
}

/*herrerreamientas*/
.herreamientas{
	position: fixed;
	width: 200px;
	background: #fff;
	margin: 30px auto;
	left: 1.5%;
	bottom: 10px;
	padding: 10px;
	border-radius: 0px 60px 60px 60px;
	border: 4px solid #720909cf;
	transition: all 2s;
	animation: herra 6s;
}

@keyframes herra{
	0%{bottom: -300px; opacity: 0;} 100%{bottom: 10px; opacity: 2;}
}

.herreamientas div div button{
	width: 70%;
	margin: 4px;
	padding: 5px;
	background: #211d1df5;
	border: none;
	border-radius: 10px;
	color: #fff;
	transition: all 0.5s;
    font-size: 40px;
}

.herreamientas div div button:hover{
	background: #886060;
}

.herreamientas div div button img{
	border-radius: 8px;
}

.SinContras{
	position: relative;
	top: 25px;
}

/*-----formulario de eliminar contra-----*/
.form-elimn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.s_elimn{
    border:0;
    border-radius:.25em;
    background:initial;
    background-color:#000;
    color:#fff;
    width: 100px;
    font-size: 1em;
    margin: 20px;
    padding:.625em 1.1em;
    transition:box-shadow .1s;
    box-shadow:0 0 0 3px transparent;
    font-weight:500;
}